html {
    box-sizing: border-box;
}

.content {
    text-align: center;
}

.post, #addPostDiv {
    border: 1px solid #0aadee;
    padding: 10px;
    margin: auto;
    max-width: 1100px;
}

.post-title {
    color: #0aadee;
}

.post-content {
    color: #333333;
}

.post-author {
    text-align: right;
    font-family: Pinyon Script;
}

#addPost {
    display: inline-block;
    height: 40px;
    width: 80px;
    background-color: #66CDAA;
    color: white;
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heartbeat {
    0%{font-size: 20px;}
    50%{font-size: 32px;}
    100% {font-size: 20px;}
  }
  

#addPostDiv {
    border: 1px dashed black;

}